<div id="app-container">
  <div>
    <img
      src="../../../assets/img/background-terapeutas.png"
      alt="Imágen de terapeutas de CreSentia"
    />
  </div>
  <div id="screenMiddle">
    <div id="text">
      <h1>Sesión de inducción</h1>
      <p>Terapéuta terapéutico</p>
    </div>
    <div id="buttons">
      <button><i class="bi bi-chat-fill"></i></button>
      <button><i class="bi bi-telephone-fill"></i></button>
    </div>
  </div>
  <div id="calendario-induccion">
    <app-calendario-induccion></app-calendario-induccion>
  </div>
</div>
