<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./informacion.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div id="rectangulo"></div>
        <div id="circulo"> 
            <img src="../Importante/img/fotocircular.png" alt="" id="foto">
        </div>
    </nav>

    <main>
        <div id="Principal">
            <h1>Sophia Santana</h1>
            <h3>Líder Área Adultos</h3>
        </div>

        <div id="Circulos">
            <div class="circulo"></div>
            <div class="circulo"></div>
            <div class="circulo"></div>    
        </div>
        
        <div id="parrafo">
            <p class="Texto">!Bienvendina/o a Cresentia!</p>    

            <p class="Texto"> <span class="rosado">Soy Sophi Santana</span>, Magister en Psicología Clínica, lider del área de adultos.</p>

            <p class="Texto">Para que conozcas un poco de mí, cuento con más de 4 años de experiencia, siempre enfocada en el
                acompañamiento a procesos terapéuticos con adultos, y con mucho amor, rigurosidad y pasion por lo que
                hago he tenido la oportunidad en la vida de muchas personas.</p>

            <p class="Texto" class="azul">!Gracias por estar aca!</p>
        </div>
    </main>

    <footer>
        <p>Dale Sentido a tu Vida</p>
    </footer>

</body>
</html>
