<div id="screenTop">
  <button [routerLink]="'/terapeuta-registro-3'">Regresar</button>
  <img
    src="../../../assets/img/logoCreSentia.png"
    alt="Logo de CreSentia"
    height="100px"
  />
</div>

<div class="container">
  <h1>
    Ayúdame a completar la siguiente info para terminar de completar tu perfil:
  </h1>
  <form>
    <label>Sexo:</label>
    <div class="gender-options">
      <label class="gender-option">
        <input type="radio" id="hombre" name="sexo" value="hombre" required />
        <span></span> Hombre
      </label>
      <label class="gender-option">
        <input type="radio" id="mujer" name="sexo" value="mujer" required />
        <span></span> Mujer
      </label>
    </div>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <label for="identificacion">Número de Identificación:</label>
    <input type="text" id="identificacion" name="identificacion" required />

    <label for="eps">EPS:</label>
    <input type="text" id="eps" name="eps" required />

    <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required />

    <div class="form-row">
      <div>
        <label for="pais">País:</label>
        <input type="text" id="pais" name="pais" required />
      </div>
      <div>
        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" required />
      </div>
    </div>

    <button type="submit">Enviar</button>
  </form>
</div>
