
* {
    box-sizing: none;
    color: #163D32;
    max-width: 430px;
}

#screenTop {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

button {
    font-size: 16px;
    padding: 6px 27px 6px 27px;
    border-radius: 15px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid;
    border-color: #163D32;
    outline: none;
    cursor: pointer;
}

img {
    margin-right: 25px;
}
  
  .container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .form-row {
    display: flex;
    gap: 12px;
  }
  .form-row > div {
    flex: 1;
  }
  .gender-options {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
  }
  .gender-option {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    transition: border-color 0.3s;
    flex: 1;
    justify-content: center;
  }
  .gender-option input {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .gender-option span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gender-option input:checked + span {
    background-color: green;
    border-color: green;
  }
  .gender-option input:checked + span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
  }
 .container button {
    margin-top: 20px;
    width: 100%;
    background-color: #F5A8A0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .container button:hover {
    background-color: #ED878F;
  }