*{
    font-family: "Kanit", sans-serif;
}
   
img{
       width: 8rem;
       margin: 0.5rem; 
}
   
#texto{
       color: #20453b;
       margin-top: 10rem;
       display: grid;
       place-items: center;
       text-align: center;
}

#buttonSiguiente {
       display: flex;
       justify-content: center;
}

#Enviar{
       
       width: 20rem;
       height: 3rem;
       background-color: #e99799;
       border: 2px solid #eff0f1;
       color: #244238;
       border-radius: 0.5rem;
       font-weight: 600;
   }