*{
    font-family: "Kanit", sans-serif;
}
   
img{
       width: 8rem;
       margin: 0.5rem; 
}
   
#texto{
       color: #20453b;
       margin-top: 10rem;
       display: grid;
       place-items: center;
       text-align: center;
}
   