*{
    font-family: "Kanit", sans-serif;
}

img{
    width: 8rem;
    margin: 3rem 55.5rem;
}

main{
    display: grid;
    place-items: center;
    text-align: center;
}

p{
    color: #c3c3c3;
    text-align: left;
}

input{
    height: 2rem;
    width: 20rem;
    border: 2px solid #eff0f1;
    border-radius: 0.5rem;
}

button{
    margin: 2rem;
    width: 20rem;
    height: 3rem;
    background-color: #e99799;
    border: 2px solid #eff0f1;
    color: #244238;
    border-radius: 0.5rem;
    font-weight: 600;
}

footer p{
    color:  #99b9d8;
    display: grid;
    place-items: center;
    margin-top: 10rem;
}