<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./consentimiento.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img src="../../../assets/img/logoCreSentia.png" alt="">
    </nav>
    <main>
        <p id="texto">Consentimiento informado:</p>
        <div id="Cuadrado">
            <p id="Introduction">Introduction</p>
            <p id="bla">Sed non dui aliquam,
                ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel quam. Etiam porttitor iaculis odio.
                Sed non dui aliquam,
                ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel quam. Etiam porttitor iaculis odio.</p>
        </div>

        <div id="cuadrado">
            <p>Acepto los politicas de privacidad y administracion</p>
        </div>

        <label>
            <input type="checkbox">
            <span></span>
        </label>

    </main>

    <footer>
        <p>Dale Sentido a tu Vida</p>
    </footer>
</body>
</html>
