<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./casa.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/705286c4db.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <img src="../../../assets/img/logoadulto.jpg" alt="" id="logo">
    </div>
    <div id="flex">
        <img src="../../../assets/img/tipo.jpg" alt="" id="tipo">
        <div id="texto">
            <h3>Vanessa Riveros</h3>
            <p> Consultante Adultos</p>
        </div>

    </div>
    <main>
        <p class="titulo">Mi agenda de la semana:</p>
        <div> 
            <div class="cuadrado">Proxima Sesión: Martes 7am</div>
            <div class="cuadrado">Recurso en el estoy trabajando</div>
        </div>
        <div id="botones">
            <button>Reagendar</button>
            <button>Practicar</button>
        </div>

        <p class="titulo">Mi espacio Seguro:</p>
        <div id="grid">
            <div class="cajas" id="c1">
                <p class="titulo">Mapa de vida</p>
                <div class="info">
                    <span class="parrafo">Tu ruta de cambio</span>
                    <p class="parrafo">Sophi Santana</p>
                </div>
                <i class="fa-regular fa-circle-play"></i>
            </div>

            <div class="cajas" id="c2">
                <p class="titulo">Recursos</p>
                <div class="info">
                    <span class="parrafo">Practiquemos juntos</span>
                    <p class="parrafo">Empezar</p>
                </div>
                <i class="fa-regular fa-circle-play"></i>
            </div>

            <div class="cajas" id="c3">
                <p class="titulo">Chat</p>
                <div class="info">
                    <span class="parrafo">¿Tienes preguntas?</span>
                    <p class="parrafo">Habla con Sophi</p>
                </div>
                <i class="fa-regular fa-circle-play"></i>
            </div>

            <div class="cajas" id="c4">
                <p class="titulo">Comunidad</p>
                <div class="info">
                <span class="parrafo">Eventos y noticias</span>
                <p class="parrafo">CreSentia</p>
                </div>
                <i class="fa-regular fa-circle-play"></i>
            </div>
        </div>
    </main>

    <footer>
        <p>Dale Sentido a tu vida</p>
        <div id="Menu">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fas fa-bell"></i>
            <i class="fa-solid fa-user"></i>
        </div>
    </footer>

</body>
</html>
