<div id="screenTop">
  <button [routerLink]="'/terapeuta-registro-1'">Regresar</button>
  <img
    src="../../../assets/img/logoCreSentia.png"
    alt="Logo de CreSentia"
    height="100px"
  />
</div>
<main>
  <form>
    <h1>Empieza con tu nombre y tu mejor foto:</h1>
    <div id="photoCard">
      <img [src]="url" alt="Foto de perfil" id="profile-Pic" />
      <label for="input-file" id="cameraIcon">
        <i class="bi bi-camera"></i>
      </label>
      <input
        type="file"
        (change)="onselectFile($event)"
        accept="image/jpeg, image/jpg, image/png"
        id="input-file"
        style="display: none"
      />
    </div>
    <label for="nombre">Nombre y apellidos</label>
    <input type="text" id="nombre" name="nombre" required />
    <label for="apodo">¿Cómo te gusta que te llamen?</label>
    <input type="text" id="apodo" name="apodo" required />
    <button type="submit" [routerLink]="'/terapeuta-registro-3'">
      ¡Listo!
    </button>
  </form>
</main>
